@import 'ultilities';

// preload
// .preloader{
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     height: 100vh;
// }
video{
    width: 500px;
    height: 300px;
    display: block;
    margin: 100px auto 0 auto;
}
#main-header-section{
    position: relative;
    background: url('../assets/img/Gallery/premises/premise-3.jpg') no-repeat center center/cover;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    display: none;
    clip-path: circle(50%);
    transition: clip-path .4s;
    transition: opacity .6s;
    background-attachment: fixed;
    z-index: 20;
    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $dark ;
        opacity: 0.9;
        z-index: -20;
    }
    .container{
        height: 100%;
        // position: relative;
        .links{
            display: flex;
            justify-content: space-between;
            align-items: center;
            @media screen and(max-width:1063px) {
                padding: 0 3rem;
            }
            .brand-logo{
                z-index: 60;

                img{
                    width: 60px;
                    height: 60px;
                    display: block;
                    margin-top: 14px;
                }
            }
            .nav-link{
                display: flex;
                align-items: center;
                justify-content: space-around;
                .main-links{
                    display: flex;
                    gap: 30px;
                    z-index: 30;
                    transition: all 0.4s linear;
                    @media screen and(max-width:1063px) {
                        display: none;
                    }
                }

                .links-active{
                    // @media screen and(max-width:1063px) {
                        display: block;
                        flex-direction: column;
                        align-content: center;
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100vw;
                        padding: 2rem 0;
                        align-items: center;
                        background: rgba(254, 223, 63,0.5);
                        color: $dark;
                        transition: all 0.4s linear;
                        gap: 30px;

                        a{
                            
                                font-weight: 900;
                                color: $dark;
                                width: 50%;
                                text-align: center;
                                padding: 12px 0;
                                transition: all 0.4s linear;
                                display: block;
                                margin: 0 auto;
                                // width: 500px;
                                &:hover{
                                    
                                    background: $dark;
                                    transition: all 0.4s linear;
                                    color: $white;
                                
                            }
                        }
                    
                }
                a{
                    font-weight: 700;
                    display: block;
                    color: $white;
                    
                }
                .button{
                    width: 40px;
                    background: $dark;
                    height: 30px;
                    padding: 5px;
                    text-align: center;
                    vertical-align: middle;
                    display: none;
                    z-index: 60;
                    cursor: pointer;
                    @media screen and(max-width:1063px) {
                        display: block;
                    }

                    .line{
                        width: 100%;
                        height: 3px;
                        background: $white;
                        display: block;
                        margin-bottom: 5px;
                    }
                }
            }

            
        }
        .welcome-text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-height: 55%;
            margin-top: 6rem;
            text-align: center;
            h1{
                text-transform: uppercase;
                font-size: 60px;
                width: 80%;
                margin-bottom: 16px;
                font-weight: 700;
                @media screen and(max-width:990px) {
                   font-size: 55px;
                   width: 100%;
                 }
            }

            .typing{
                font-size: 40px;
                color: $yellow;
                // display: block;
                @media screen and (max-width:1063px) {
                    width: 90%;
                }
                @media screen and(max-width:990px) {
                    font-size: 35px;
                  }
            }
            .btn{
                // display: inline-block;
                // margin: 3rem 0 0 0;
                background: $yellow;
                color: $dark;
                width: 30%;
                position: absolute;
                top: 73%;
                border-radius: 8px;
                font-weight: 700;
                font-size: 1.3rem;
                transition: transform 0.4s linear;
                @media screen and(max-width:1095px) {
                    width: 50%;
                }
                &:hover{
                    transition: transform 0.4s linear;
                    transform: scale(0.97);
                }
            }
        }
    }
}
// GALLERY-SECTION 1
#gallery-1{
    background: $dark;
    color: $white;
    height: 90vh;
    padding: 5rem 0;
    display: none;
    opacity: 0;
    background-attachment: fixed;
    .container{
        display: flex;
        justify-content: space-between;
        gap: 15rem;
        .gallery-text{
            margin: 3rem 0 0 0;
            position: relative;
            // transform: translateX(-1000px);
            transition: transform 0.4s linear;
            .sigg{
                .sigg-text{

                    font-family: 'Poppins', sans-serif;
                    font-weight: 800;
                    color: $dark;
                   -webkit-text-stroke: 1px #989a9b;
                   position: relative;
                   line-height: 1.1;
    
                //    &::before{
                //     content: attr(data-text);
                //     position: absolute;
                //     top: 0;
                //     left: 0;
                //     width: 100%;
                //     height: 100%;
                //     color: $yellow;
                //     -webkit-text-stroke: 1px $yellow;
                //     overflow: hidden;
                //     animation: wipe 6s linear ;
                //     }

                    // .art{
                    //     &::before{
                    //         content: attr(data-text);
                    //         position: absolute;
                    //         top: 0;
                    //         left: 157.5px;
                    //         width: 100%;
                    //         height: 100%;
                    //         color: $yellow;
                    //         -webkit-text-stroke: 1px $yellow;
                    //         overflow: hidden;
                    //         animation: wipe 6s linear ;
                    //         // animation-delay: 6s;
                    //         }
                    // }
                    // .residency{
                    //     &::before{
                    //         content: attr(data-text);
                    //         position: absolute;
                    //         top: 50%;
                    //         left: 0;
                    //         width: 100%;
                    //         height: 100%;
                    //         color: $yellow;
                    //         -webkit-text-stroke: 1px $yellow;
                    //         overflow: hidden;
                    //         animation: wipe 6s linear ;
                    //         // animation-delay: 12s;
                    //         }
                    // }

                    @keyframes wipe {
                        0%,10%{
                            width: 0;
                            
                        }
                        70%,90%{
                            width: 100%;
                        }
                    }
                }
            }
            img{
                height: 200px;
                opacity: 0.7;
                width:400px;
                position: absolute;
                left: -80px;
                top: 25%;
                display: block;
            }

            p{
                font-size: 3.2rem;
                margin: .5rem 0 0  0;
                transition: opacity 0.4s linear;
                transition-delay: 0.6;
                opacity: 0;
            }
        }
        .image-1{
            position: relative;
            .big-img{
                width:9px;
                height:400px;
                opacity: 0;
                transition: opacity .3s linear, width 0.5s ease-in-out;
                
                
            }
            .bottom-dot{
                width: 450px;
                position: absolute;
                right: -25%;
                bottom: -52%;
            }
        }
    }
}

// =========GALLERY SECTION 2=============
#gallery-section-2{
    height: 124vh;
    width: 100vw;
    background: $yellow;
   opacity: 0;
   @media screen and(max-width:1080px) {
   height: 160vh;
}
//    display: none;
    // z-index: 90;
    .container{
        
        nav{
            .gallery-nav{
                padding-top: 3rem;
                display: flex;
                gap: 40px;
                justify-content: center;
                span{
                    background: $dark;
                    color: $white;
                    border-radius: 30px;
                    padding:  15px;
                    cursor: pointer;
                }
            }
        }
        
        .gallery-photos{
            display: flex;
            flex-wrap: wrap;
            margin-top: 2rem;
            // display: grid;
            // grid-template-columns: repeat(4,1fr);
            @media screen and(max-width:1080px) {
                display: grid;
                grid-template-columns: repeat(3,1fr);
                padding: 0 2rem;
            }
            opacity: 0;
            transition: opacity 1s linear;
            .image{
                width: calc(100% / 4);
                @media screen and(max-width:1080px) {
                    width: 100%;
                }
                img{
                    width: 100%;
                    // height: 250.67px;
                }
            }
            
        }
    }
}

.hide{
    display: none;
}
.show{
    animation: animateImageshow 0.4s ease;
}
@keyframes animateImageshow {
    0%{transform: scale(0.5);}
    100%{transform: scale(1);}
}
// TIMELINE
#time-line{
    // background: $dark;
    color: $white;
    height: 130vh;
    width: 100vw;
    padding: 4rem 0;
    opacity: 0;
    // display: none;
    position: relative;
    z-index: 20;
    background: url('../assets/img/timeline/CF051136.jpg') no-repeat center center/cover;
    background-attachment: fixed;
    &::before{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $dark ;
        opacity: 0.5;
        z-index: -20;
    }
    h1{
        text-align: center;
        font-size: 2.5rem;
        margin: 0 auto 3rem auto;
        background: $dark;
        width: 40%;
        padding: 5px;
    }
    ul{
        // background: $white;
        // padding: 50px 0;
        // create line
        li{
            position: relative;
            width: 6px;
            margin: 0 23rem;
            padding-top: 50px;
            background: $yellow;
            @media screen and(max-width:990px) {
                margin: 0 20rem;
              }
            &>div{
                position: relative;
                bottom: 0;
                width: 400px;
                padding: 1rem;
                background: $white;
                transition: all .5 ease-in-out;
                color: $dark;
                visibility: hidden;
                opacity: 0;

                h3{
                    color: $dark;
                }
                
                p{
                    line-height:1.5;
                    color: $dark;
                }
                &:before{
                    content: '';
                    position: absolute;
                    bottom: 5px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                }

            }
            & div{
                left: 40px;
                transform: translate(200px,0);
                
                &:before{
                    left: -15px;
                    border-width: 8px 16px 8px 0;
                    border-color: transparent $white;
                }
            }
            // &:nth-child(even) div{
            //     left: -434px;
            //     transform: translate(-200px,0);
            //     &:before{
            //         right: -15px;
            //         border-width: 8px 0 8px 16px;
            //         border-color: transparent $white;
            //     }
            // }
            &:after {
                content: '';
                position: absolute;
                left: 50%;
                bottom: 0;
                width: 25px;
                height: 25px;
                background: inherit;
                transform: translateX(-50%);
                border-radius: 50%;
                transition: background 0.5ss ease-in-out;
            }

            
        }
    }

}

#time-line ul li.show div{
    
        transform: none;
        visibility: visible;
        opacity: 1;

    
    &:after{
        background: red;
    }
}