@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #ffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1 {
  font-size: 60px;
}

.btn {
  outline: none;
  border: none;
  padding: 12px 15px;
}

.container {
  width: 1100px;
  margin: 0 auto;
}

@media screen and (max-width: 1139px) {
  .container {
    padding: 0 50px;
  }
}

@media screen and (max-width: 1080px) {
  .container {
    width: 100vw;
  }
}

.animate .sigg-text {
  position: relative;
}

.animate .sigg-text::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fedf3f;
  -webkit-text-stroke: 1px #fedf3f;
  overflow: hidden;
  -webkit-animation: wipe 6s linear;
          animation: wipe 6s linear;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

.animate .sigg-text .art::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 157.5px;
  width: 100%;
  height: 100%;
  color: #fedf3f;
  -webkit-text-stroke: 1px #fedf3f;
  overflow: hidden;
  -webkit-animation: wipe 6s linear;
          animation: wipe 6s linear;
}

.animate .sigg-text .residency::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 100%;
  color: #fedf3f;
  -webkit-text-stroke: 1px #fedf3f;
  overflow: hidden;
  -webkit-animation: wipe 6s linear;
          animation: wipe 6s linear;
}

@-webkit-keyframes wipe {
  0%, 10% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}

@keyframes wipe {
  0%, 10% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}

video {
  width: 500px;
  height: 300px;
  display: block;
  margin: 100px auto 0 auto;
}

#main-header-section {
  position: relative;
  background: url("../assets/img/Gallery/premises/premise-3.jpg") no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  display: none;
  -webkit-clip-path: circle(50%);
          clip-path: circle(50%);
  -webkit-transition: -webkit-clip-path .4s;
  transition: -webkit-clip-path .4s;
  transition: clip-path .4s;
  transition: clip-path .4s, -webkit-clip-path .4s;
  -webkit-transition: opacity .6s;
  transition: opacity .6s;
  background-attachment: fixed;
  z-index: 20;
}

#main-header-section::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333333;
  opacity: 0.9;
  z-index: -20;
}

#main-header-section .container {
  height: 100%;
}

#main-header-section .container .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 1063px) {
  #main-header-section .container .links {
    padding: 0 3rem;
  }
}

#main-header-section .container .links .brand-logo {
  z-index: 60;
}

#main-header-section .container .links .brand-logo img {
  width: 60px;
  height: 60px;
  display: block;
  margin-top: 14px;
}

#main-header-section .container .links .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#main-header-section .container .links .nav-link .main-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  z-index: 30;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

@media screen and (max-width: 1063px) {
  #main-header-section .container .links .nav-link .main-links {
    display: none;
  }
}

#main-header-section .container .links .nav-link .links-active {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100vw;
  padding: 2rem 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(254, 223, 63, 0.5);
  color: #333333;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  gap: 30px;
}

#main-header-section .container .links .nav-link .links-active a {
  font-weight: 900;
  color: #333333;
  width: 50%;
  text-align: center;
  padding: 12px 0;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  display: block;
  margin: 0 auto;
}

#main-header-section .container .links .nav-link .links-active a:hover {
  background: #333333;
  -webkit-transition: all 0.4s linear;
  transition: all 0.4s linear;
  color: #ffff;
}

#main-header-section .container .links .nav-link a {
  font-weight: 700;
  display: block;
  color: #ffff;
}

#main-header-section .container .links .nav-link .button {
  width: 40px;
  background: #333333;
  height: 30px;
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  display: none;
  z-index: 60;
  cursor: pointer;
}

@media screen and (max-width: 1063px) {
  #main-header-section .container .links .nav-link .button {
    display: block;
  }
}

#main-header-section .container .links .nav-link .button .line {
  width: 100%;
  height: 3px;
  background: #ffff;
  display: block;
  margin-bottom: 5px;
}

#main-header-section .container .welcome-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 55%;
  margin-top: 6rem;
  text-align: center;
}

#main-header-section .container .welcome-text h1 {
  text-transform: uppercase;
  font-size: 60px;
  width: 80%;
  margin-bottom: 16px;
  font-weight: 700;
}

@media screen and (max-width: 990px) {
  #main-header-section .container .welcome-text h1 {
    font-size: 55px;
    width: 100%;
  }
}

#main-header-section .container .welcome-text .typing {
  font-size: 40px;
  color: #fedf3f;
}

@media screen and (max-width: 1063px) {
  #main-header-section .container .welcome-text .typing {
    width: 90%;
  }
}

@media screen and (max-width: 990px) {
  #main-header-section .container .welcome-text .typing {
    font-size: 35px;
  }
}

#main-header-section .container .welcome-text .btn {
  background: #fedf3f;
  color: #333333;
  width: 30%;
  position: absolute;
  top: 73%;
  border-radius: 8px;
  font-weight: 700;
  font-size: 1.3rem;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

@media screen and (max-width: 1095px) {
  #main-header-section .container .welcome-text .btn {
    width: 50%;
  }
}

#main-header-section .container .welcome-text .btn:hover {
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

#gallery-1 {
  background: #333333;
  color: #ffff;
  height: 90vh;
  padding: 5rem 0;
  display: none;
  opacity: 0;
  background-attachment: fixed;
}

#gallery-1 .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15rem;
}

#gallery-1 .container .gallery-text {
  margin: 3rem 0 0 0;
  position: relative;
  -webkit-transition: -webkit-transform 0.4s linear;
  transition: -webkit-transform 0.4s linear;
  transition: transform 0.4s linear;
  transition: transform 0.4s linear, -webkit-transform 0.4s linear;
}

#gallery-1 .container .gallery-text .sigg .sigg-text {
  font-family: 'Poppins', sans-serif;
  font-weight: 800;
  color: #333333;
  -webkit-text-stroke: 1px #989a9b;
  position: relative;
  line-height: 1.1;
}

@keyframes wipe {
  0%, 10% {
    width: 0;
  }
  70%, 90% {
    width: 100%;
  }
}

#gallery-1 .container .gallery-text img {
  height: 200px;
  opacity: 0.7;
  width: 400px;
  position: absolute;
  left: -80px;
  top: 25%;
  display: block;
}

#gallery-1 .container .gallery-text p {
  font-size: 3.2rem;
  margin: .5rem 0 0  0;
  -webkit-transition: opacity 0.4s linear;
  transition: opacity 0.4s linear;
  -webkit-transition-delay: 0.6;
          transition-delay: 0.6;
  opacity: 0;
}

#gallery-1 .container .image-1 {
  position: relative;
}

#gallery-1 .container .image-1 .big-img {
  width: 9px;
  height: 400px;
  opacity: 0;
  -webkit-transition: opacity .3s linear, width 0.5s ease-in-out;
  transition: opacity .3s linear, width 0.5s ease-in-out;
}

#gallery-1 .container .image-1 .bottom-dot {
  width: 450px;
  position: absolute;
  right: -25%;
  bottom: -52%;
}

#gallery-section-2 {
  height: 124vh;
  width: 100vw;
  background: #fedf3f;
  opacity: 0;
}

@media screen and (max-width: 1080px) {
  #gallery-section-2 {
    height: 160vh;
  }
}

#gallery-section-2 .container nav .gallery-nav {
  padding-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#gallery-section-2 .container nav .gallery-nav span {
  background: #333333;
  color: #ffff;
  border-radius: 30px;
  padding: 15px;
  cursor: pointer;
}

#gallery-section-2 .container .gallery-photos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 2rem;
  opacity: 0;
  -webkit-transition: opacity 1s linear;
  transition: opacity 1s linear;
}

@media screen and (max-width: 1080px) {
  #gallery-section-2 .container .gallery-photos {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    padding: 0 2rem;
  }
}

#gallery-section-2 .container .gallery-photos .image {
  width: calc(100% / 4);
}

@media screen and (max-width: 1080px) {
  #gallery-section-2 .container .gallery-photos .image {
    width: 100%;
  }
}

#gallery-section-2 .container .gallery-photos .image img {
  width: 100%;
}

.hide {
  display: none;
}

.show {
  -webkit-animation: animateImageshow 0.4s ease;
          animation: animateImageshow 0.4s ease;
}

@-webkit-keyframes animateImageshow {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes animateImageshow {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#time-line {
  color: #ffff;
  height: 130vh;
  width: 100vw;
  padding: 4rem 0;
  opacity: 0;
  position: relative;
  z-index: 20;
  background: url("../assets/img/timeline/CF051136.jpg") no-repeat center center/cover;
  background-attachment: fixed;
}

#time-line::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333333;
  opacity: 0.5;
  z-index: -20;
}

#time-line h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 0 auto 3rem auto;
  background: #333333;
  width: 40%;
  padding: 5px;
}

#time-line ul li {
  position: relative;
  width: 6px;
  margin: 0 23rem;
  padding-top: 50px;
  background: #fedf3f;
}

@media screen and (max-width: 990px) {
  #time-line ul li {
    margin: 0 20rem;
  }
}

#time-line ul li > div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 1rem;
  background: #ffff;
  -webkit-transition: all .5 ease-in-out;
  transition: all .5 ease-in-out;
  color: #333333;
  visibility: hidden;
  opacity: 0;
}

#time-line ul li > div h3 {
  color: #333333;
}

#time-line ul li > div p {
  line-height: 1.5;
  color: #333333;
}

#time-line ul li > div:before {
  content: '';
  position: absolute;
  bottom: 5px;
  width: 0;
  height: 0;
  border-style: solid;
}

#time-line ul li div {
  left: 40px;
  -webkit-transform: translate(200px, 0);
          transform: translate(200px, 0);
}

#time-line ul li div:before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #ffff;
}

#time-line ul li:after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 25px;
  height: 25px;
  background: inherit;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
  -webkit-transition: background 0.5ss ease-in-out;
  transition: background 0.5ss ease-in-out;
}

#time-line ul li.show div {
  -webkit-transform: none;
          transform: none;
  visibility: visible;
  opacity: 1;
}

#time-line ul li.show div:after {
  background: red;
}
/*# sourceMappingURL=style.css.map */